- var highlight = slice.value.toArray()[0]

section.highlight.content-section
  .highlight-left
    != highlight.getStructuredText("title").asHtml(ctx.linkResolver)
    != highlight.getStructuredText("headline").asHtml(ctx.linkResolver)
    if ( highlight.getLink("link") && highlight.getText("linkText") )
      p
        a(href=highlight.getLink("link").url(ctx.linkResolver)) !{highlight.getText("linkText")}
    
  .highlight-right
    img(src=highlight.getImage("image").url)