<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/navigation', {title: 'Page Not found'}); %>
  </head>
  <body>
    <div class="not-found">
      <h1>404</h1>
      <h3>Sorry!The page you are looking for was not found.</h3>
    </div>
  </body>
</html>
